body{
    font-family:'Gill Sans MT', Calibri, 'Trebuchet MS';
    font-weight: lighter;
    width: 50%;
    margin: auto;
    text-align:center;
    
}
.header_section{
    color: rgb(8, 2, 81);
}
.LLAMASOFT{
    color: rgb(80, 177, 237);
    margin-top: -10px;
}
.container {
    display: flex;
    align-items: center; 
   }
   
   img {
     max-width: 100%;
     max-height:100%;
     float: left;
     box-shadow: rgba(128, 128, 128, 0.384) 1px 0 0 0;
   }
   
   .logotext {
     font-size: 10px;
     float: left;
     text-align: left;
     margin-left: 20px;
   }

.middle_section{
    background-image: url("bg.png");
    height: max-content;

}
.middle_section_text{
    color: white;
    text-align: justify;
    padding: 10px;
}
.DownloadReport{
    background-color: rgb(255, 115, 0);
    border-radius: 5px;
    height: 35px;
    border:rgb(255, 155, 0); ;
}
.DownloadReport a{
    color: white;
    text-decoration: none;
    font-size: large;
}
.hr_line{
    border: none;
    height: 1px;
    background-image: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(168,168,168,1) 52%, rgba(255,255,255,1) 100%);;
}
.refAndPrio{
    text-align: center;
}
.report_container {
    padding: 10px;
    display: flex;
    align-items: center; 
   }
   
   .reportimage {
     max-width: 100%;
     max-height:100%;
     float: left;
     box-shadow: rgb(128, 128, 128) 0 2px 2px 2px;
   }
   
   .reportinfo {
     float: left;
     text-align: left;
     padding-right: 20px;
   }
   .reportinfo a{
    color: orange;
    text-decoration: none;
    font-weight: bold;
   }
   .contactContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-image: url(contact_bg.png);
   }
   .contactContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin:0;
   }
   .contactUs{
    flex: 2;
    width: 100%;
    color: white;
    margin-left: -130px;
   }
   .social_icons{
    flex: 1;
    margin-right: -115px;
    text-align: right;
    height: 30px;
    width: 30px;

   }
